* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(207, 197, 197);
}
body{
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #1c1c25;
  overflow: hidden;
}
#cc {
  width: 380px;
  height: 230px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 15px 35px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  transform-style: preserve-3d;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  height: 20%;
  margin: 10px 5px 0px 5px;
}

.heads {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  top: 10px;
}
#chip img{
  position: relative;
  top: 10px;
  width: 60px;
}
#numbers {
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  top: 7px;
}

#numbers h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#spanner {
  display: flex;
  width: 45%;
  font-size: 10px;
  position: relative;
  top: 10px;
}
#first{
  display: flex;
  width: 10%;
  font-size: 10px;
  font-weight: bold;
}
#second{
  position: relative;
  left: 30px;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 15px;
}
#validations {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 45%;
  position: relative;
  top: 10px;
}

#holders {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 40%;
  font-family: "Courier New", Courier, monospace;
}
#backcc{
  width: 380px;
  height: 230px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 15px 35px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  transform-style: preserve-3d;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 15px
}
#saxi{
  padding: 0px 10px;
}
.bar{
    height: 20px;
    background-color: black;
    margin-top: 7px;
}
.another{
    height: 15%;
    margin-top: 8px;
}
.mains{
    display: inline-block;
    background-color: rgb(180, 180, 180);
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    position: relative;
}
.mains::before{
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
.mains span{
    font-size: 15px;
    font-family: fantasy;
    margin-left: auto;
    color: rgb(59, 57, 57);
}
#firstlorem{
  position: relative;
  top: 7px;
}
#firstlorem h3{
    font-size: 15px;
    font-family: monospace;
}
#secondlorem{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    top: 10px;
}
#insidelorem{
    font-size: 14px;
    font-family: monospace;
}
#companys{
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
}
.logo{
  width: 100px;
  height: 50px;
  position: relative;
  right: 10px;
}
.logo::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  clip-path: circle();
  transform: translateX(-15%);
  opacity: 0.7;
}
.logo::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  clip-path: circle();
  transform: translateX(15%); 
  z-index: -1;
  opacity: 0.5;
}
#autho{
  margin-top: 10px;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#padd{
  padding: 0px 10px;
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
  }
  #backcc{
    margin: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 430px) {
  #cc{
    width: 280px;
  height: 220px;
  }
  #backcc{
    width: 280px;
  height: 220px;
  }
  #chip img{
    top: 5px;
    width: 40px;
  }
  #name h2{
    font-size: 20px;
  }
  .logo::before{
    height: 80%;
    width: 80%;
    left: 25px;
    top: 10px;
  }
  .logo::after{
    height: 80%;
    width: 80%;
    left: 25px;
    top: 10px;
  }
  .bar{
    height: 15px;
    margin-top: 4px;
  }
  #padd{
    padding: 0px 3px;
  }
  #secondlorem{
    top: 0px;
    bottom: 4px;
  }
}
